body {
  margin: 0;
  padding: 0;
}

.hero {
  background: url(https://s3.amazonaws.com/data.tackk.com/mio/26357928/13907916085242/large.jpg) no-repeat center center;
  background-size: cover;
  height: 900px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: rgb(252, 252, 252);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}
